$brand-color:         #ABC999;
$highlight:           #E3EDBE;
$text-color:          #323832;
$muted-text-color:    #1E211E;
$font-family:         "EB Garamond", Garamond, "Times New Roman", serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;
